* {
    margin: 0;
    padding: 0;
    background-color: #bee5fd;
    color:#000000;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

nav {
    margin: 10px auto;
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    border-radius: 10px;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    background-color: #fff874;
}

nav ul li a:hover {
    text-decoration: none;
    background-color: #3A4767;
    color: white;
}

nav ul li a:active {
    background-color: #3A4767;
    color: white;
}

header {
    text-align: center;
    margin: 20px auto;
}

header h1 {
    font-size: 2.5rem;
}

header h2 {
    font-size: 1.75rem;
    font-style: italic;
}

.searchBox {
    margin-top: 10px auto;
}

.searchBox input {
    padding: 15px;
    box-sizing: border-box;
    border: 2px dotted black;
    border-radius: 5px;
    background-color: #bee5fd;
    font-size: 1rem;
}

.searchBox button {
    padding: 15px;
    box-sizing: border-box;
    border: 2px dotted black;
    border-radius: 5px;
    font-size: 1rem;
}

.resultBox {
    display: none;
    flex-direction: column;
    width: 30%;
    margin: 20px auto;
    padding: 10px;
    border: 5px dotted #01b4c6;
}

.resultBox h3 {
    text-align: center;
    font-size: 2rem;
}

.resultBox p {
    font-size: 1.5rem;
}